.menu {
  width: 100%;
  height: 185px;
  background-image: url(../../../images/footer/footer-back.png);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  row-gap: 10px;
  position: fixed;
  z-index: 999;
  & nav {
    width: 100%;
    height: 0;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    row-gap: 5%;
    order: 3;
    padding: 0 30px;
    position: absolute;
    background-color: #272727;
    top: 185px;
    display: flex;
    overflow: hidden;
    .item {
      position: relative;
      width: 100%;
      height: fit-content;
      display: flex;
      .menu__item {
        display: block;
        font-family: var(--light);
        font-size: 14px;
        font-weight: 100;
        color: #afb2b4;
        text-decoration: none;
        line-height: 25px;
        white-space: nowrap;
      }
      .sub__menu {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-flow: column wrap;
        margin-right: -10px;
        padding: 30px;
        display: none;
        .sub__menu__item {
          display: none;
          font-family: var(--light);
          font-size: 16px;
          font-weight: 100;
          color: #afb2b4;
          text-decoration: none;
          line-height: 45px;
          white-space: nowrap;
          &:hover {
            color: #ffffff;
          }
        }
      }
      .active {
        color: #ffffff;
      }
      &:hover .menu__item {
        color: #ffffff;
      }
      /* &:hover .sub__menu {
        opacity: 1;
      }
      &:hover .sub__menu .sub__menu__item {
        display: block;
      } */
    }
    .no__lb {
      border: none;
    }
  }
  .line {
    display: none;
  }
  .logo {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }
  & label[for="menu"] {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    color: #afb2b4;
    order: 2;
    cursor: pointer;
    margin: 0 25px 10px 0;
    justify-self: flex-end;
    transform: scaleY(0.8);
  }
  #menu {
    display: none;
  }
  #menu:is(:checked) ~ nav {
    height: 330px;
    max-height: fit-content;
    overflow: auto;
    transition: 300ms;
  }
  #menu:not(:checked) ~ nav {
    height: 0;
    overflow: hidden;
    transition: 300ms;
  }
}
